language: python
python:
- 3.5
- 3.4
- 3.3
- 3.2
- 2.7
- 2.6
env:
  global:
    secure: tYIjIDHWr6RvZcXG09Liehl4dZERDpJ0U08/9G3pij4suqXycD5ECr6xa4kuRkh14oOIj559ajrHIsJJp2d2/du8rIr7trnHMsxGDwgXR2kjT910LPnQYL5BtAM/IkAQTkCppXO1QhB+Q36tpX/FXYg9drW5OZoiO9+YG0BDZwjdyx/zfPnwoYP2zuKk9MY1+c9SPuczwUKsqFIwx437cDy4mZhN/RTFYleZCUI2PwFnSz/MAUQRtBxecI0CYSKjTGQ22ACXQQDZEeJ/etyEO7kSr8GzFgLaEzjti3fc1cLQg/95I0/6JpQ/yzV7PHp9f8GS2kG1VtjEiPKqCJnRML1d4G+YKvc3KTA6SnIbIn7YeDinmytZ7qGuykCfEZfVlSXthsbPdXZHNUejDo+eim0wQdq2Bd5DIG3sbqfOAqIOwyU5tr/IsGKvc5TLzzzmYmlrI9M+2y8tc9MiqbR//zxlCICVG6Xr+meqb2zV7HR4TfEGETEUSCMPzkT1oU4QGWyA2bTIEXpM9ZDi1pVVpFOWHTK7PinY0w8oOP08h9+SVXlN4rNmmb2YmiW/evrXUF4nx6MvnWwfDRemJKBcTZbamGLmpcQqHg8tHbnIFcuCKPgIrm55BqvsY6Oe7SA2Sl9k4oQVvh8+cDKB/piIaDrwpVL95r+xSioxVHfywPY=

before_install:
- pip install codecov tox>=1.8 virtualenv==13.1.2
install:
- if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then export PYVER=py26; fi
- if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then export PYVER=py27; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.3' ]]; then export PYVER=py33; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.2' ]]; then export PYVER=py32; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then export PYVER=py34; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then export PYVER=py35; fi
- if [[ $TRAVIS_PYTHON_VERSION != '3.2' ]]; then export COMMAND='coverage run'; fi
script: PYTHONPATH=$PWD COMMAND="${COMMAND:-python}" tox -e$PYVER
after_success:
- codecov
deploy:
  provider: pypi
  user: nekmo
  password:
    secure: dfB/GIK9NAIRyBtl7sp71xikgVxZ3XYXemWWBJgOe93X8uvgHST4F2HThkY2Ej6MClEFn7NsMzY4OGpiPX58DbrHYOeUTdeDN86v7lSuK5U7/IyCwaeCtvwkfSVK7vEIM9I4eilB1vpUPban7HJHPaQEX7rKgeoFu9sHg/Cz0C7WSPhg8KFy8clQ07lFRBH/pVYeX4A4aP5ASRI/c/wbuvcYd0PLp/w0R4XE3nvlUNKMP1vLZKk2RH5ii31BP1kH9KpscENlad5DdBpiNxvzbrJeUiizRWp7ztXSHu0XAkTcE0dFBnxNq6MWZXRmATN55Y0srZjh3Ysln3EJFGSHThZhaU4XkEJNmNPLm3qDPk4/daopnRRymCy56GosGTWSlVf7wHKSErxV7Ny15eCFQTG9m0+V7J5kmTPI/o0T/zBbzsjxnPZG6AgFQXPblN8QQOKCI/AYh104yFIK33KtjNboNgw/LssBuBxvZ6WBoobspNMYjWH/sCYu2O16wva4OnOvd9oDuH5LpbwtBLtAclQLt4JGgorpGUBpQLjE8QAhc68AR7eGlckHDsHTfGgiOLlELTV8rDqXpntAmzt7UlnBj4pTgWEGti+xQj/oIq8zGbxJXyDAokEyuIzOiB5QM0bNxH+VqVHAgJ0XxiuqZOoNAzZUjFu24vW9qDuFFwc=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: Nekmo/python-akismet
